body{
background-image: url(assets/pexels-photo-1070979.jpeg);
background-size: 100%;
background-attachment: fixed;
background-color: rgba(192, 192, 192, 0.136);
background-blend-mode: screen;
}

.header-container{
    .box-container{
        height: 500px;
        opacity: 75%;
        overflow: scroll;
    }
}

